@using WajbahAdmin.Models.Dto
@model List<OrderDTO>

<div class="container mt-5">
    <h2>Customer Orders</h2>
    @if (Model == null || !Model.Any())
    {
        <p>No orders available for this customer.</p>
    }
    else
    {
        @foreach (var order in Model)
        {
            <div class="order-item">
                <p>Customer ID: @order.CustomerId</p>
                <p>Order ID: @order.OrderId</p>
                <p>Total Price: @order.TotalPrice.ToString("C")</p>
                <div class="order-details">
                    <strong>Order Details:</strong>
                    <p>@foreach(var item in order.MenuItems)
                        {
                            <p>@item.Name</p>
                        }
                    </p>
                </div>
            </div>
        }
    }
</div>